button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #67008f;
    border: none;
    cursor: pointer;
    width: 7rem;
    margin: 0 6px;
    color: #fff;
    height: 64px;
    border: solid #fff 2px;
  }

button a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

button:hover{
  opacity: 80%;
}