.Tecnologias{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
}

.Tecnologias img{
    height: 70px;
    width: 100px;
    margin-bottom: 5px;
}

.Tecnologias h2{
    font-size: 20px;
}
