.Card-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 24px;
    border: solid #67008f;
}

.Sobre-Mim{
    height: fit-content;
    width: 100%;
    max-width: 80%;
    margin: 24px auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.Sobre-Mim strong{
    font-size: 24px;
}

.Sobre-Mim p{
    font-size: 16px;
    text-indent: 20px;
}