.Card-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 24px;
    border: solid #67008f;
    width: 80%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.Sobre-Mim{
    height: fit-content;
    width: 100%;
    max-width: 80%;
    margin: 24px auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.Sobre-Mim strong{
    font-size: 24px;
}

.Sobre-Mim p{
    font-size: 16px;
    text-indent: 20px;
}

.Sobre-Mim button{
    margin-top: 12px;
}

@media (max-width: 768px){
    .Sobre-Mim{
        text-align: center;
    }

    .Sobre-Mim p{
        font-size: 12px;
        text-align: justify;
    }
}
