.container-fluid{
    margin: auto 10%;
}

.container-fluid a{
    color: #fff;
}

.nav-link:hover{
    text-decoration: underline;
    color: #67008F;
}

.navbar-brand:hover{
    color: #fff;
}
.conteudo{
    flex-direction: row-reverse !important;
}