.card{
    width: 18rem;
    background-color: #000;
    color: #fff;
    border: solid #67008f;
}

.card-img-top{
    height: 12rem;
    object-fit: cover;
}

.card-title{
    font-weight: bold;
}

.botao-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 24px;
    background-color: #67008f;
    cursor: pointer;
    color: #fff;
    border: solid #fff 2px;
    font-weight: bold;
}

.btn:hover{
    background-color: #67008f;
    border: #fff solid 2px;
    opacity: 80%;
}