@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #111111;
}

.Content{
  padding-top: 65px;
  background-image: url('./assets/Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: darken;
}

.Inicio{
  height: 100vh;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.Row{
  display: flex;
  flex-direction: row;
}

.Column{
  display: flex;
  flex-direction: column;
}

.Title{
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  width: 320px;
  line-height: 44px;
}

.SubTitle{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 420px;
  margin-bottom: 20px;
  line-height: 22px;
}

.Imagem img{
  width: 32rem;
  height: 32rem;
}

.Sobre{
  height: fit-content;
  width: 100%;
  max-width: 80%;
  margin: 24px auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}