@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #111111;
}

.Content{
  padding-top: 65px;
  background-image: url('./assets/Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: darken;
}

.Inicio{
  height: 100vh;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.Row{
  display: flex;
  flex-direction: row;
}

.Column{
  display: flex;
  flex-direction: column;
}

.Title{
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  width: 320px;
  line-height: 44px;
}

.SubTitle{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 420px;
  margin-bottom: 20px;
  line-height: 22px;
}

.Imagem img{
  width: 32rem;
  height: 32rem;
}

.Sobre{
  height: fit-content;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,0,66,1) 100%); 
  animation: backgroundTransition 5s ease-in-out infinite;
  background-size: 400%;
}

@keyframes backgroundTransition{
	0%{
		background-position: 0% 80%;
	}
	50%{
		background-position: 80% 100%;
	}
	100%{
		background-position: 0% 90%;
	}
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

 @-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
            transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.Skills{
  width: 100%;
  flex-direction: column;
  padding: 12px;
}

.Skills button{
  border: none;
  background-color: transparent;
}

.Skills button:hover{
  border: none;
  background-color: transparent;
}

.Skills p{
  font-style: italic;
}

.Tecnologias-Container{
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Projetos{
  width: 100%;
  flex-direction: column;
  padding: 12px;
  display: flex;
  background-image: url('./assets/Projects-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: darken;
}

.Projetos-Title{
  font-size: 24px;
}

.Projetos-Corpo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  margin: auto 10%;
  
}

.Itens-Contato{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  text-align: center;
  margin: 30px auto;
}

.Item-Contato{
  background-color: #000;
  border-radius: 25px;
  padding-top: 5px;
  border: solid #67008f;
}

.Item-Contato a{
  text-decoration: none;
}

.Item-Formulario{
  background-color: #000;
  padding-top: 50px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: solid #67008f;
  margin-bottom: 20px;
}

@media (max-width: 768px){
  body{
    text-align: center;
  }
  
  .Inicio{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .Imagem img{
    width: 16rem;
    height: 16rem;
    margin: 20px auto;
  }

  .Column{
    align-items: center;
    justify-content: center;
  }
  .Column h1{
    text-align: center;
  }

  .Tecnologias-Container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
  }
}



