*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

.App{
  background-color: #111111;
}

.Content{
  padding-top: 65px;
  background-image: url('./assets/Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: darken;
}

.Inicio{
  height: 100vh;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.Row{
  display: flex;
  flex-direction: row;
}

.Column{
  display: flex;
  flex-direction: column;
}

.Title{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  width: 320px;
  margin-bottom: 20px;
  line-height: 44px;
}

.SubTitle{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 420px;
  margin-bottom: 20px;
  line-height: 22px;
}

.Imagem img{
  width: 35rem;
  height: 35rem;
  
}
