*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

.App{
  background-color: #111111;
}

.Content{
  padding-top: 65px;
}

.a{
  height: 100vh;
}

.b{
  height: 100vh;
}
